.section {
  max-width: 1280px;
  margin: auto;
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-bottom {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

/* SLanting the borders using clip path */
.slanted-top {
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
}

.slanted-border {
  clip-path: polygon(0 1%, 100% 0, 100% 99%, 0% 100%);
}

.slanted-footer {
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
}

.drop-shadow-card {
  box-shadow: 0px 15px 30px 0px #bfb5ff26;
}

.gradient-bg {
  background: linear-gradient(
    180deg,
    rgba(237, 239, 255, 0) 0%,
    #edefff 130.82%
  );
}

.footer-gradient {
  background: linear-gradient(180deg, #0c0c0c 0%, #202229 100%);
}

.markets-container {
  overflow-x: auto !important; /* To override universl selector */
}

.markets {
  display: flex;
  flex-wrap: nowrap;
  width: max-content; /* To Ensure the container expands to fit its content */
}

.market-item {
  flex: 0 0 auto;
}

.embla {
  overflow-x: auto; /* This woukd help me allow horizontal scrolling for the embla container */
  overflow-y: hidden; /* This would help me prevent vertical scrolling */
}

.embla__container {
  display: flex;
  width: max-content; /* This would ensure my container expands to fit its content */
}

.embla__slide {
  flex: 0 0 auto; /* This would prevent slides from shrinking */
  display: flex;
  flex-direction: column; /* Ensures vertical stacking of content */
  align-items: center; /* Centers content horizontally */
  justify-content: space-between; /* Ensures even spacing */
  padding: 16px; /* Adjust padding as needed */
}

.embla__slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  body,
  * {
    overflow: visible;
  }

  .markets-container {
    overflow-x: visible;
  }

  .markets {
    flex-wrap: wrap;
    width: 100%; /* Reset the width to fit the container */
  }

  .market-item {
    flex: 1 0 21%; /* Adjust this value based on how many items you want per row on larger screens */
  }

  .embla__container {
    flex-wrap: wrap;
    width: 100%;
  }

  .embla__slide {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    width: 100%;
  }

  .embla__slide-content {
    flex: 1;
    text-align: left;
    align-items: flex-start;
  }
}

@media (min-width: 1024px) {
  .slanted-border {
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
  }
}
